Repository kevinchanqx/serverless: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Added Shared folder
  src/shared/http/errors/errors.ts
  src/shared/http/errors/index.ts
  src/shared/http/http-client.ts
  src/shared/http/index.ts
  src/shared/http/interceptors/error-handler.ts
  src/shared/http/interceptors/error-log.ts
  src/shared/http/interceptors/index.ts
  src/shared/http/interceptors/request-log.ts
  src/shared/http/interceptors/response-log.ts
  src/shared/log/index.ts
  src/shared/utils/index.ts
  src/shared/utils/lodash.ts
Due: eslint --cache --fix, prettier --write

Update eslint
  .eslintrc
Due: none

Delete unused files
  index.test.ts
  index.ts
Due: eslint --cache --fix, prettier --write

Update package.json
  package-lock.json
  package.json
Due: none

Update tsconfig
  tsconfig.json
Due: none

Update http abstract class
  src/shared/http/http-client.ts
Due: eslint --cache --fix, prettier --write

Added environment to shared folder
  src/shared/environment/index.ts
Due: eslint --cache --fix, prettier --write

Added JSONPlaceholder gateway
  src/gateways/JSONPlaceholder/api/get-post.ts
  src/gateways/JSONPlaceholder/api/index.ts
  src/gateways/JSONPlaceholder/api/retrieve-posts.ts
  src/gateways/JSONPlaceholder/gateway.ts
  src/gateways/JSONPlaceholder/http-client.ts
  src/gateways/JSONPlaceholder/index.ts
Due: eslint --cache --fix, prettier --write

Added controller, lambda-handler, use-case classes
  src/shared/classes/controller/api-gateway.ts
  src/shared/classes/controller/base.ts
  src/shared/classes/controller/http.ts
  src/shared/classes/controller/index.ts
  src/shared/classes/lambda-handler/api-gateway/event-processor.ts
  src/shared/classes/lambda-handler/api-gateway/handler.ts
  src/shared/classes/lambda-handler/api-gateway/index.ts
  src/shared/classes/lambda-handler/index.ts
  src/shared/classes/lambda-handler/types/index.ts
  src/shared/classes/use-case/index.ts
  src/shared/classes/use-case/use-case.ts
  src/shared/result/index.ts
Due: eslint --cache --fix, prettier --write

Update package.json and description
  README.md
  package-lock.json
  package.json
Due: prettier --write

Added mapper class to shared folder
  src/shared/classes/mapper/index.ts
  src/shared/classes/mapper/mapper.ts
Due: eslint --cache --fix, prettier --write

Update JSONPlaceholder Gateway
  src/gateways/JSONPlaceholder/api/get-post.ts
  src/gateways/JSONPlaceholder/api/retrieve-posts.ts
  src/gateways/JSONPlaceholder/gateway.ts
  src/gateways/JSONPlaceholder/http-client.ts
Due: eslint --cache --fix, prettier --write

Updated ts config
  tsconfig.json
Due: none

Added services folder and new posts service
  serverless-compose.yml
  src/services/posts/adapters/primary/http/controllers.ts
  src/services/posts/adapters/primary/http/index.ts
  src/services/posts/adapters/primary/http/routes.ts
  src/services/posts/adapters/primary/scheduler/index.ts
  src/services/posts/adapters/secondary/middleware/JSONPlaceholder/index.ts
  src/services/posts/adapters/secondary/middleware/JSONPlaceholder/middleware.ts
  src/services/posts/adapters/secondary/middleware/JSONPlaceholder/retrieve-posts.mapper.ts
  src/services/posts/adapters/secondary/middleware/JSONPlaceholder/retrieve-posts.ts
  src/services/posts/serverless.dev.yml
  src/services/posts/serverless.local.yml
  src/services/posts/use-cases/retrieve-posts/retrieve-posts.controller.ts
  src/services/posts/use-cases/retrieve-posts/retrieve-posts.dto.ts
  src/services/posts/use-cases/retrieve-posts/retrieve-posts.interface.ts
  src/services/posts/use-cases/retrieve-posts/retrieve-posts.mapper.ts
  src/services/posts/use-cases/retrieve-posts/retrieve-posts.use-case.ts
Due: eslint --cache --fix, prettier --write

Fix
  package-lock.json
  package.json
  src/services/posts/serverless.local.yml
Due: none

Fix
  src/services/posts/serverless.local.yml
Due: none

Refine
  src/services/posts/adapters/secondary/middleware/JSONPlaceholder/retrieve-posts.mapper.ts
  src/services/posts/serverless.local.yml
  src/shared/http/interceptors/error-log.ts
  src/shared/utils/lodash.ts
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,md}
